.container-comment {
    margin-top: 20px;

    .star {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        
        .star-comment{
            margin-right: 10px;
            font-size: 1.8rem;
        }

        .star-check{
            position: absolute;
            display: flex;
            gap: 2px;
            left: 10%;
            top: 2px;
        }
    }
}

.comment-product {
    padding-top: 10px;
    width: 100%;
    height: 100%;

    .comment-area {
        width: 100%;
        min-height: 120px;
        padding: 10px;
        font-size: 2rem;
        border: 1px solid var(--border-color);
        border-radius: 10px;
    }
    .comment-btn {
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: end;
    }
}
